.location-page {
    margin: 0px 50px;
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .location-block-1 {
        border-radius: 9999px;
        display: flex;
        flex: 1;
        background-color: #fff;
        border: 2px solid rgb(199, 203, 211);
        padding: 20px;

        &-mobile {
            flex-direction: column;
            gap: 15px;
            border-radius: 1px;

            .location-block-1_child-2 {
                border-top: 1px solid rgb(194, 198, 206);
                border-bottom: 1px solid rgb(194, 198, 206);
                padding: 20px;
                border-right: 1px solid transparent !important;
                border-left: 1px solid transparent !important;
            }
        }

        &_child-1,
        &_child-2 {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
            font-size: 18px;

            &:hover {
                cursor: pointer;
            }

            .address {
                font-size: 16px;
            }

            .go {
                font-weight: 100;
                font-size: 14px;

                span {
                    font-weight: bold;
                }
            }
        }

        &_child-2 {
            flex: 2;
            border-left: 1px solid rgb(194, 198, 206);
            border-right: 1px solid rgb(194, 198, 206);
        }

        &_child-3 {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            &:hover {
                cursor: pointer;
            }

            span {
                background-color: rgb(217, 71, 79);
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transition: 0.4s;

                &:hover {
                    cursor: pointer;
                    background-color: rgb(119, 37, 53);
                }
            }
        }
    }

    .location-block-2 {
        max-width: 1024px;
        margin: auto;
        display: grid;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 10px;

        button {
            padding: 8px 16px;
            border-radius: 4px;
            outline: 0;
            border: none;
            font-size: 18px;
            transition: 0.4s;
            border: 1px solid rgb(226, 229, 233);
            &:hover {
                cursor: pointer;
                border: 1px solid rgb(117, 120, 129);
            }
        }
    }
}

.id-address {
    padding: 24px;

    .title {
        font-weight: 700;
        font-size: 20px;
        margin: 18px 0;
    }

    .list-address {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        &-mobile {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        .item-address {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            justify-content: center;

            .img-logo {
                width: 80px;
                height: 80px;
                border: 2px solid rgb(217, 219, 227);
                border-radius: 4px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 2px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

    }
}
.custom-popover{
    .MuiPaper-root{
        border-radius: 9999px;
        border: 2px solid rgb(199,202,208);
    }
    .content-guest {
        width: 300px;
        height: 52px;
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: space-between;
        .count {
            display: flex;
            gap: 15px;
            .increase,
            .decrease {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: rgb(254, 154, 161);
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                transition: 0.4s;
    
                &:hover {
                    background-color: grey;
                    cursor: pointer;
                }
            }
    
            .increase {
                background-color: rgb(254, 65, 77);
            }
        }
    }
}